html, body {
    margin: 0;
    padding: 2vw;
    font-size: 18px;
    min-width: 500px;
    font-family: 'Oswald', sans-serif;
    background-color: #092A28;
}
header{
    display: flex;
    width: 90%;
    margin: auto;
  
    justify-content: space-between;
    height: 6vh;
    margin-bottom: 2vh ;
    margin-top:2vh;
    min-height: 10px
}
header>.u1{
    min-width: 50px;
    width:20%;
    height: 100%
}
header>select{
    width: 50%;
    height: 100%
}
header>button{
    width: 20%;
    height: 100%;
}
section{
    display: flex;
    height: 50vh;
}
.V{
    width:20%
}
.dj{
    width: 100%;
    height: 80%;
}
p{
    text-align: center
}
input,select{
    background-color: #115550;
    outline-width:.05rem ;
    border: solid .05rem;
    border-color:#146B65;
}
input[type=button]{
    background-color:#146B65;
}
